<main class="mt-3">
    <link rel="stylesheet" href="/text.css" type="text/css" />
    <div class="container justify-content-center">
        <h3 class="text-center">My Cart</h3>
        <table class="table table-hover table-striped text-center">
            <thead>
                <tr class="row">
                    <th scope="col" class="col-lg-5">Name</th>
                    <th scope="col" class="col-lg-5">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row">
                    <td class="col-lg-5">ProductName</td>
                    <td class="col-lg-5">ProductPrice</td>
                </tr>
            </tbody>
        </table>
        <div class="button-holder text-center">
            <a href="/Carts/Buy" class="btn btn-outline-primary">Buy</a>
        </div>
    </div>
</main>